<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Achievement Management System</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <body>
        <div class="heading">
            <h1>Achievement Management System</h1>
        </div>

        <h1>You want to login as</h1>

        <div class="student-row">
            <div class="student-col">
                <h3>Student</h3>
            </div>
        </div>

        <div class="teacher-row">
            <div class="teacher-col">
                <h3>Teacher</h3>
            </div>
        </div>
    </body>
</html>